/* rgb(141,203,202)
rgb(236,199,191)
rgb(253,174,133)
rgb(60,46,61)
rgb(218,233,228) */


body {
    background-color:rgb(236,199,191)
}


h1 {
    font-size: 600%; 
    color:rgb(48, 185, 183);
    padding: 50px;
    font-family: 'Notable', sans-serif;
   

}

h1 #sanford {
    color: white;
    font-family: 'Notable', sans-serif;
}
header {
    width: 100%;
    height: 300px;
    background-image: url(https://images.pexels.com/photos/931158/pexels-photo-931158.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260);
    background-size: cover;
    background-position: 50px;
}

h2 {
    color: rgb(253,174,133);
    font-size: 300%;
    background-color:rgb(60,46,61);
    font-family: 'Gravitas One', cursive;
    text-align: center;
    padding: 10px;
}

.container-fluid {
    background-color: rgb(253,174,133);
}

.about-me {
    width: 1000px;
    height: 500px;
    border: rgb(48, 185, 183);
    border-style: solid;
    background-color: rgb(218,233,228);
    padding: 10px;
    margin-bottom: 20px;
    
}

.about-me p {
    color:rgb(60,46,61);
    font-family: 'Noto Sans', sans-serif;
    font-size: 120%;
    margin-top: 20px;
    width: 450px;
    line-height: 1.25;
}

.about-me-office {
    width: 400px;
    height: 255px;
    position: absolute;
    left: 490px;
    bottom: 90px;
    border-color: rgb(253,174,133);
    border-style: solid;
    border-width: 5px;
    display: block;
    
}

.contact-me {
    width:600px;
    height: 900px;
    padding: 10px;
    border-style: solid;
    border-color:rgb(48, 185, 183);
    background-color:rgb(218,233,228);
    position: absolute;
    left: 1050px;
    top: 350px;
}

.profile-pic {
    height:50% ;
    width:auto ;
    margin: 10px;
    border-style: solid;
    border-color: rgb(60,46,61);
    border-width: 10px;

}

.contact-me p {
    margin: 20px;
    font-size: 140%;
    font-family: 'Noto Sans', sans-serif;
    color:  rgb(60,46,61);
    line-height: 1.25;
    
    
}

.contact-bold {
    font-weight: bolder;
}

.work {
    width: 1000px;
    height:1600px;
    border-color:rgb(48, 185, 183);
    background-color:rgb(218,233,228);
    border-style: solid;
    position: absolute;
    left:0px;
    top: 870px
    
    
}

.card-1, .card-2, .card-3, .card-4, .card-5, .card-6, .card-7 {
    margin: 20px;
    float:left;
    border-style: solid;
    border-color:  rgb(253,174,133);
    border-width: 5px;

}

@media screen and (max-width: 1160px) {
    .contact-me {
        position: absolute;
        top: 2150px;
        left:0px;
        width: 1000px;
    }
}

@media screen and (max-width: 1160px) {
    .about-me {
        position: absolute;
        min-width: 400px;
    }
}

@media screen and (max-width: 1160px) {
    .work {
        min-width: 400px;
        position: absolute;
        left: 0px;
        top: 525px;
    }
}

@media screen and (max-width: 685px) {
    .about-me {
        width: 645px
    }
}

@media screen and (max-width: 685px) {
    .work {
        width: 645px;
        height:4000px;
        position: absolute;
        top: 520px;
        left: 0;
    }
}

@media screen and (max-width: 685px) {
    .contact-me {
        position: absolute;
        top: 4550px;
        width: 645px;
        left: 0px;
    }
}

@media screen and (max-width: 685px) {
    .about-me-office {
        display: none;

    }
}
/* rgb(141,203,202)
rgb(236,199,191)
rbg(253,174,133)
rgb(60,46,61)
rgb(218,233,228) */